#
# requires .env file with
# - LOCAL_ADDRESS : the ip address of the docker host

version: '2.1'
services:

  zk:
    image: zookeeper:3.6
    environment:
      - ZOO_LOG4J_PROP=WARN,CONSOLE
    mem_limit: 512m
    ulimits:
      nproc: 65535
      nofile:
        soft: 4096
        hard: 8192
    restart: unless-stopped

  kafka:
    image: wurstmeister/kafka
    depends_on:
    - zk
    ports:
    - "9092:9092"
    mem_limit: 512m
    ulimits:
      nproc: 65535
      nofile:
        soft: 4096
        hard: 8192
    environment:
    - KAFKA_BROKER_ID=1
    - KAFKA_ADVERTISED_HOST_NAME=${LOCAL_ADDRESS}
    - KAFKA_CREATE_TOPICS=iostat:1:1,ioerr:1:1
    - KAFKA_ZOOKEEPER_CONNECT=zk:2181/kafka
    - LOG4J_LOGGER_KAFKA=WARN
    - LOG4J_LOGGER_ORG_APACHE_KAFKA=WARN
    - LOG4J_LOGGER_ORG_APACHE_ZOOKEEPER=WARN
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

  hz:
    image: hazelcast/hazelcast:4.1
    mem_limit: 512m
    ulimits:
      nproc: 65535
      nofile:
        soft: 4096
        hard: 8192
    environment:
    - JAVA_OPTS=-Dhazelcast.config=/hazelcast.xml
    volumes:
    - "./hazelcast.xml:/hazelcast.xml"
    restart: unless-stopped

  mds:
    image: dcache/pnfs-community
    sysctls:
    - net.ipv6.conf.all.disable_ipv6=1
    depends_on:
    - hz
    - zk
    - kafka
    environment:
    - JAVA_OPT=
    - JMX_PORT=7777
    - KAFKA_BOOTSTRAP_SERVER=kafka:9092
    - KAFKA_IOSTAT_TOPIC=iostat
    - KAFKA_IOERR_TOPIC=ioerr
    - ZOOKEEPER_CONNECT=zk:2181
    - NFS_PORT=2049
    - HAZELCAST_HOST=hz
    command: mds --with-layoutstats
    ports:
    - "2049:2049"
    - "127.0.0.1:7777:7777"
    volumes:
    - ./exports:/etc/pnfs/exports
    - ./nfs.properties:/etc/pnfs/nfs.properties
    - ./chimera.properties:/etc/pnfs/chimera.properties
    - ./hostkey.pem:/hostkey.pem
    - ./hostcert.pem:/hostcert.pem
    - ./ca-chain.pem:/ca-chain.pem
    logging:
      driver: json-file
      options:
        max-size: "1m"
        max-file: "5"
    restart: unless-stopped

  ds1:
    image: dcache/pnfs-community
    sysctls:
    - net.ipv6.conf.all.disable_ipv6=1
    depends_on:
    - hz
    - zk
    - mds
    environment:
    - LOCALADDRESS=${LOCAL_ADDRESS}
    - JAVA_OPT=
    - ZOOKEEPER_CONNECT=zk:2181
    - HAZELCAST_HOST=hz
    - NFS_PORT=2052
    - BEP_PORT=ds1:2017
    command: ds
    ports:
    - "2052:2052"
    volumes:
    - ./hostkey.pem:/hostkey.pem
    - ./hostcert.pem:/hostcert.pem
    - ./ca-chain.pem:/ca-chain.pem
    logging:
      driver: json-file
      options:
        max-size: "1m"
        max-file: "5"
    restart: unless-stopped

  ds2:
    image: dcache/pnfs-community
    sysctls:
    - net.ipv6.conf.all.disable_ipv6=1
    depends_on:
    - hz
    - zk
    - mds
    environment:
    - LOCALADDRESS=${LOCAL_ADDRESS}
    - JAVA_OPT=
    - ZOOKEEPER_CONNECT=zk:2181
    - HAZELCAST_HOST=hz
    - NFS_PORT=2053
    - BEP_PORT=ds2:2017
    command: ds
    ports:
    - "2053:2053"
    volumes:
    - ./hostkey.pem:/hostkey.pem
    - ./hostcert.pem:/hostcert.pem
    - ./ca-chain.pem:/ca-chain.pem
    logging:
      driver: json-file
      options:
        max-size: "1m"
        max-file: "5"
    restart: unless-stopped
